# Django Settings
SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=False

# Railway / Production Database
DATABASE_URL=postgresql://user:password@host:port/dbname

# Allowed Hosts
ALLOWED_HOSTS=localhost,127.0.0.1,web-production-91aaf.up.railway.app

# CORS
CORS_ALLOWED_ORIGINS=https://frontend-production-36a6.up.railway.app
CSRF_TRUSTED_ORIGINS=https://frontend-production-36a6.up.railway.app
