# Django Settings
SECRET_KEY=your-secret-key-here-change-in-production
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,http://web-production-91aaf.up.railway.app

# Database Settings

DATABASE_URL=postgresql://postgres:geloXsGdjDBiMbxCHlhKFXIjtvPYNmuF@postgres.railway.internal:5432/railway

# CORS Settings
CSRF_TRUSTED_ORIGINS=https://web-production-91aaf.up.railway.app,https://frontend-production-36a6.up.railway.app
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,https://frontend-production-36a6.up.railway.app
